<section>
    <h1>OUR MENU</h1>
    <div >
        <img src="assets/img/2. R1-CP.png" alt="">
        <div class="select-menu">
            <h3>Tonkotsu Ramen</h3>
            <table>
                <tbody>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="second-menu">
        <img src="assets/img/3. R2-CP.png" alt="">
        <div class="select-menu">
            <h3>Spicy Miso Ramen</h3>
            <table>
                <tbody>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <img src="assets/img/4. R3-CP.png" alt="">
        <div class="select-menu">
            <h3>Shio Ramen</h3>
            <table>
                <tbody>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>