@mixin border($bStyle){
    border-radius: 10px;
    border: 2px $bStyle white;
}

@mixin dFlex($jc, $aI: center){
    display: flex;
    justify-content: $jc;
    align-items:  $aI;

}
nav {
    width: 100%;
    height: 112px;
   // padding: 32px;
   @include dFlex(space-around);
    position: absolute;
    top: 0;
    font-size: 24px;

    >img {
        width: 64px;
        height: 64px;
    }
    >div{
        
        display: flex;
        gap: 24px;
        align-items: center;
        >a{
            &:hover{
                color: #9f0908;
            }
        }
    }
}

a{
    text-decoration: none;
    color: white;
}

.phone-btn{
    display: flex;
    background-color: #9f0908;
    height: 40px;
    padding-inline: 20px;
    justify-content: center;
    align-items: center;
    @include border(solid);
   

    >img{
        width: 32px;
        height: 32px;
    }
}